*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*general features */
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
.list_inline{
  list-style: none;
}
.list_inline li{
  display: inline-block;
  padding: 15px;
  line-height: 90px;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  background-color: red;
}
