*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
/*general features */
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
.text_uppercase{
  text-transform: uppercase;
}
.text_capitalize{
  text-transform: capitalize;
}
#font_color_black{
  color: black;
}
.list_inline{
  list-style: none;
}
.list_inline li{
  display: inline-block;
  padding: 15px;
  line-height: 90px;
}
.list_inline li a {
  text-decoration: none;
  font-size: 18px;
  color: #ececed;
}
.list_inline li a:hover{
  color: black;
  cursor: pointer;
}
.nav-left ul li img{
  width: 100px;
  text-align: center;
  vertical-align:text-bottom;
}
.width_90{
  width: 90%;
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 8px;
}
.nav-left ul button{
  width: 140px;
  height: 50px;
  border: 1px solid #d10092;
  border-radius: 20px;
  background-color: #d10092;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.nav-left ul button:hover{
  background-color: #d10079;
  cursor: pointer;
}
